<h1>Listing films</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% @films.each do |film| %>
  <tr>
    <td><%=h film.title %></td>
    <td><%=h film.body %></td>
    <td><%= link_to 'Show', film %></td>
    <td><%= link_to 'Edit', edit_film_path(film) %></td>
    <td><%= link_to 'Destroy', film, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New film', new_film_path %>